body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: grid;
    background-color: rgb(90, 90, 90);
    height: 700px;
    width: 700px;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.book {
    background-color: white;
    height: 100px;
    width: 100px;
    margin-left: 35px;
    margin-top: 20px;
    border-radius: 10px;
}

.readbook {
    background-color: rgb(168, 168, 168);
    height: 100px;
    width: 100px;
    margin-left: 35px;
    margin-top: 20px;
    border-radius: 10px;
}

.card-text {
    text-align: center;
}